@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

main {
  padding: 10vh;
}

@keyframes objectLooping {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-200%);
  }
}

.animate-objectLooping {
  animation: moveLooping 30s linear infinite;
}

.highlight {
  margin: 0;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-color: #ffa500;
  text-decoration-thickness: 20px;
  text-decoration-skip-ink: none;
  text-underline-offset: -15px;
  
}