@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

main{
  padding: 10vh;
}

@keyframes moveLooping {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.animate-moveLooping {
  animation: moveLooping 30s linear infinite;
}